* {
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
}
body {
    background-color: #000;
    color: #eee;
    margin: 0;
    font-size: 12px;
}
a{
    text-decoration: none;
    color: #eee;
}
header{
    width: 1140px; /*it will default to this width on large screens*/
    max-width: 80%; /*it will not be more than 80% of the screen on smaller screens*/
    margin: auto;
    height: 50px;
    display: flex;
    align-items: center;
    position: relative; /*this will allow it to move to the front of the carousel*/
    z-index: 100; /*this will place it above the carousel*/
    font-size: 20px;
}
header a{
    margin-right: 40px; /*making space between the navbar items*/
}
/*carousel styling*/
.carousel{
    width: 100vw;
    height: 100vh;
    overflow: hidden; /*this one restricts all of our page data to just the home screen in case my images were too many and created a need for scrolling down the page*/
    margin-top: -50px; /*this is because the header height is 50px which was giving an unsighly black bar so this will allow the image to cover from the top*/
    position: relative; /*aligning the items relative to the position of the carousel class instead of the body*/
}

.carousel .list .list-item{
    position: absolute;
    inset: 0 0 0 0; /*defining the postion with zero distance from the top, left, bottom and right*/
}

.carousel .list .list-item img{
    /*making the images occupy the entire screen*/
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover; /*fixing the distortion of the image when it fills the screen*/
}

.carousel .list .list-item .content{
    position: absolute;
    top: 20%; /*a position 20% away from the item*/
    width: 1140px; /*width on large screens*/
    max-width: 80%; /*for smaller screens the width will be 80%*/
    left: 50%;
    transform: translateX(-50%); /*aligning the content*/
    padding-right: 30%; /*to shrink the element a bit*/
    box-sizing: border-box; /*this will prevent the size of the width from changing since we have used width and padding*/
    color: #fffff3;
    text-shadow: 0 5px 10px #0004; /*making the text stand out*/
}
.carousel .list .list-item .content .criminal-name,
.carousel .list .list-item .content .bounty-amount{
    font-weight: bold;
    font-size: 5em;
    line-height: 1.3em;
}
.carousel .list .list-item .content .wanted-status{
    font-weight: bolder;
    font-size: 3.2em;
    line-height: 1.3em;
}
.carousel .list .list-item .content .bounty-amount{
    color: #ff0000;
    text-shadow: 0 5px 10px #ffe599
}
.carousel .list .list-item .content .formDiv{
    display: inline-flex;
    gap: 5px;
}
.carousel .list .list-item .content .formDiv .comment-form,
.carousel .list .list-item .content .formDiv .buttons{
    display: grid;
    /*grid-template-columns: 140px; *//*making the form and the button have a nice column height although initially i wanted them to be side by side by using repeat(2,140px) but this didn't work because the button is a child of the form so the alignment was bothering me*/
    grid-template-rows: 40px;
    gap: 5px;
    margin-top: 20px;
}

.carousel .list .list-item .content .formDiv button{
    background-color: transparent;
    color: #eee;
    border: 1px solid #eee;
}

/*thumbnail*/
.thumbnail{
    position: absolute;
    bottom: 50px; /*it will be 50px from the bottom of the carousel*/
    /*left: 50%;*/ /*it will only be on one half the screen i.e. on the right*/
    width: max-content; /*allowing it to be scalable according to the content inside*/
    z-index: 100; /*so that it overlaps the items in the class list*/
    display: grid; /*so that the items are in the same row*/
    gap: 20px; /*distance between items*/
    /*transform: translateZ(0);*/
    grid-template-columns: repeat(16, 1fr); /*applying this to all of the thumbnails*/
    pointer-events: none;

}
.thumbnail .item{/*for the content inside the thumbnials*/
    width: 150px;
    height: 220px;
    /*flex-shrink: 0;*/ /*so that the size doesn't shrink on small screens*/
    /*position: relative;*/ /*so that the content inside it can rely on it to move positions*/
}
.thumbnail .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
/*
.active, .thumbnail .item img:hover{
    background-color: #ff0000;

}
*/ /*let me see if i can do this in js*/
